<template>
  <v-container class="py-6">
    <v-row>
      <v-col cols="12" md="6" lg="7">
        <h1 class="text-h4 text-sm-h3 text-lg-h1 mt-xl-4">Connecting <span class="primary--text">people, training providers and companies</span> for the European wood and furniture industry</h1>
        <h2 class="text-h6 text-sm-h5 secondary--text mt-4">People perform training courses to improve their skills and competences. Training providers research demanded skills by companies to offer training courses. Companies look for candidates for job offers and training courses for their employees. The Allview Platform connects these groups of people to improve the European wood and furniture industry.</h2>
        
      </v-col>
      <v-col cols="12" md="6" lg="5" class="d-none d-md-block">
        <v-img class="rounded-lg" :aspect-ratio="$vuetify.breakpoint.lgAndDown ? 1 : undefined" :src="require('@/assets/images/landing-main.jpeg')" alt="">
        </v-img>
      </v-col>
    </v-row>
  </v-container>
</template>
