<template>
  <v-footer color="transparent">
    <v-container class="py-5">
      <v-row>
        <v-col cols="12" md="4">
          <div class="text-h6 text-lg-h5 font-weight-bold">Navigation</div>
          <div style="width: 80px; height: 4px" class="mb-5 mt-1 secondary" />
          <div>
            <div v-for="(link, i) in links" :key="i" class="w-half body-1 mb-1">
              <router-link
                v-if="link.to"
                class="text-decoration-none secondary--text text--lighten-2"
                :to="link.to"
              >{{ link.label }}</router-link>
              <a
                v-else
                class="text-decoration-none secondary--text text--lighten-2"
                :href="link.href"
                :target="link.target || 'blank'"
              >{{ link.label }}</a>
            </div>
          </div>
        </v-col>
        <v-col cols="12" md="4">
          <div class="text-h6 text-lg-h5 font-weight-bold">Contact Information</div>
          <div style="width: 80px; height: 4px" class="mb-5 mt-1 secondary" />
          <div class="d-flex mb-2 font-weight-bold">
            <v-icon color="secondary lighten-1" class="mr-2">mdi-map-marker-outline</v-icon>
            C/ Perales S/N 30510 Yecla, Murcia, Spain
          </div>
          <div class="d-flex mb-2">
            <v-icon color="secondary lighten-1" class="mr-2">mdi-phone-outline</v-icon>
            <a href="#" class="text-decoration-none secondary--text text--lighten-2">+34 968 752 040</a>
          </div>
          <div class="d-flex mb-2">
            <v-icon color="secondary lighten-1" class="mr-2">mdi-email-outline</v-icon>
            <a href="#" class="text-decoration-none secondary--text text--lighten-2">help-platform@allview.eu</a>
          </div>
        </v-col>
        <v-col cols="12" md="4">
          <div class="text-h6 text-lg-h5 font-weight-bold">Social Networks</div>
          <div style="width: 80px; height: 4px" class="mb-5 mt-1 secondary" />

          <div class="">

            <v-btn fab small color="secondary" class="ml-2" href="https://twitter.com/AllviewErasmus" target="_blank">
              <v-icon>mdi-twitter</v-icon>
            </v-btn>
            <v-btn fab small color="secondary" class="ml-2" href="https://www.linkedin.com/company/allview-platform/" target="_blank">
              <v-icon>mdi-linkedin</v-icon>
            </v-btn>
            <v-btn fab small color="secondary" class="ml-2" href="https://www.instagram.com/allviewplatform/" target="_blank">
              <v-icon>mdi-instagram</v-icon>
            </v-btn>
            <v-btn fab small color="secondary" class="ml-2" href="https://www.facebook.com/Allview-Erasmus-Vocational-Excellence-Platform-100934198582293/" target="_blank">
              <v-icon>mdi-facebook</v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-divider class="my-3"></v-divider>
      <div class="text-center caption">
        © Allview 2021. All Rights Reserved
      </div>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  data() {
    return {
      links: [
        {
        label: 'Home',
        to: '/'
      }, {
        label: 'Web App',
        to: '/app'
      }, {
        label: 'Allview Website',
        href: 'https://allview.eu/contact/'
      }]
    }
  }
}
</script>
